<div class="row">
  <header class="col">
    <h1><span class="title">TALK IN CODE</span><span class="morse">- .- .-.. -.- / .. -. / -.-. --- -.. .</span></h1>
    <h2>Translate your message into Morse Code and share it with your friends.</h2>
  </header>
</div>
