<div class="row input" *ngIf="!submitted">
  <div class="form-inline">

    <form [formGroup]="inputForm" (ngSubmit)="submitForm(inputForm.value)">
      <div class="form-group top-thick bottom-thick">
        <textarea class="form-control" 
          type="search" 
          placeholder="ENTER YOUR MESSAGE TO BE CODED HERE" 
          [formControl]="inputForm.controls['message']"
          [ngClass]="{'has-error':!inputForm.controls['message'].valid && inputForm.controls['message'].touched}"></textarea>
          <div *ngIf="!inputForm.controls['message'].valid && inputForm.controls['message'].touched" class="alert alert-danger">The message must consist of a-z or space only.</div>
          <span class="reset-app" (click)="reset();"><img src="/assets/_img/reset.png" alt="reset"/></span>
      </div>
      <div class="form-group">
        <button type="submit" class=""  [disabled]="!inputForm.valid">TRANSLATE MY MESSAGE TO MORSE CODE</button>
      </div>
    </form>

  </div>
</div>
<div class="row result top-thick bottom-thick" *ngIf="submitted">
  <div class="results">{{resultMorseCode}}</div><span class="reset-app" (click)="reset();"><img src="/assets/_img/reset.png" alt="reset"/></span>
</div>
<div class="row buttons"  *ngIf="submitted">  
  <button shareButton="twitter" [sbUrl]=socialURL [sbTags]=socialDesc>
    <span class="social-share">TWEET IT</span>
  </button>
  <button shareButton="facebook" [sbUrl]=socialURL [sbTags]=socialDesc>
    <span class="social-share">FACEBOOK IT</span>
  </button>
  <button shareButton="googlePlus" [sbUrl]=socialURL [sbTags]=socialDesc>
    <span class="social-share">G+ IT</span>
  </button>
</div>

