<div class="container">
  <div class="row">
    <div class="social col-sm-6">
      
    </div>
    <div class="social-morse col-sm-6 ">
      <span class="pull-right">- .- .-.. -.- / .. -. / -.-. --- -.. .</span>
    </div>
  </div>
</div>
<div class="container bg">
  <div class="wrapper">
    <app-header></app-header>
    <app-form></app-form>
  </div>
</div>
