/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: "Babas Neue";
  src: url("/assets/_fonts/bebasneue-webfont.woff") format("woff")
}

@font-face {
  font-family: "Roboto Bold";
  src: url("/assets/_fonts/roboto-bold-webfont.woff") format("woff")
}

// Some SCSS variables and mixins (in production strength these will be in separate files)
//
$text-color: #4B4B4B;
$button-bg: #5f5f5f;
$button-color: #f6c500;

@mixin thick-border($side) {
    border-#{$side}: 10px solid $text-color;
}

// custom styling
//
html{
    font-size: 100%;
}
.container{
    &.bg{
        background: transparent url("/assets/_img/paper.png") no-repeat center top;
    }
}
.wrapper{
    padding: 10px;

}

header{
    padding-bottom: 10px;
    h1{
        span{
            display: block;
            clear: both;
            &.title{
                font-family: "Babas Neue", Arial, Helvetica, sans-serif;
                color: $text-color;
                font-size: 4rem;
                line-height: 4rem;
            }
            &.morse{
                font-size: 1rem;
                margin-left: 0;
                line-height: 2rem;
                vertical-align: 0;
            }
        }
    }
    h2{
        font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }

}

.form-group,
.result{
    position: relative;
    padding: 15px 0 15px 0;
}

.top-thick{
    @include thick-border("top");
}

.bottom-thick{
    @include thick-border("bottom");
}

textarea.form-control{
    font-family: "Babas Neue", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    max-width: 70%;
    min-height: 6rem;
    padding: 3px;
    box-sizing: border-box;
    border: 0;
    outline: none;
    color: $text-color;
    background: transparent;
}

.results{
    font-family: "Babas Neue", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    max-width: 70%;
    padding: 3px;
    box-sizing: border-box;
    border: 0;
    color: $text-color;
}

button{
    font-family: "Babas Neue", Arial, Helvetica, sans-serif;
    color: $button-color;
    font-size: 1.5rem;
    background-color: $button-bg;
    border: none;
    padding: 5px;
    margin: 10px 5px 5px 5px;
    min-width: 50px;
}

.reset-app{
    position: absolute;
    top: 20px;
    right:0;
    cursor: pointer;
    img{
        width: 2.5rem;
    }
}


@media (min-width: 768px) {
    .wrapper{
        width: 80%;
        margin:auto;
    }
    header{
        h1{
            span{
                display: inline;
                &.morse{
                    font-size: 1rem;
                    line-height: 2rem;
                    float: right;
                    margin-top: 1rem;
                }
            }
        }
        h2{
            font-size: 1rem;
        }

    }
    .form-group,
    .result{
        padding: 20px 0 60px 0;
    }

    textarea.form-control{
        font-size: 4rem;
        line-height: 4rem;
        max-width: 80%;
        padding: 10px;

    }

    .results{
        font-size: 4rem;
        line-height: 4rem;
        max-width: 80%;
        padding: 5px;        
    }


}

@media (min-width: 1024px) {
    .wrapper{
        width: 70%;
        max-width: 1000px;
        margin:auto;
    }
    header{
        h1{
            span{
                &.title{
                    font-size: 5rem;
                }
                &.morse{
                    margin-top: 1.5rem;
                }
            }
        }
        h2{
            font-size: 1.5rem;
        }

    }
    .form-inline{
        .form-group
        {
            display: block;
        }

    }
    button{
        font-size: 2rem;
        padding: 10px;
        margin: 10px 5px 5px 5px;
        min-width: 100px;
    }

}